$font-size-xxs: 0.8em;
$font-size-xs: 1em;
$font-size-sm: 1.2em;
$font-size-md: 1.4em;
$font-size-lg: 1.5em;
$font-size-xl: 2em;
$font-size-xxl: 4em;

$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-black: 900;